# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# OS / IDE
.DS_Store
.idea/
.vscode/

# Build / Dist
build/
dist/
*.log

# Data / Uploads
uploads/
/data/

# Streamlit
.streamlit/secrets.toml
.cache/
tester_python.ipynb/
